<div id="catalog">
	<h2 id="description_h2">Каталог</h2>
	<div id="catalog_items">
		<div class="item">
			<div class="wrap_img"><img src="views/app/img/logo.png" alt="item picture"></div>
			<div id="price">
				<h3>450 $ или 400 LV</h3>
			</div>
			<div class="description_h3"><h3>Годовой пакет услуг "Цитадель" </h3> </div>
			<div class="wrap_btn">
				<button class='btn btn-info' id="h_sign_in">Купить за LV</button>
				<button class='btn btn-info'>Купить за $</button>
			</div>
		</div>
		<div class="item">
			<div class="wrap_img"><img src="views/app/img/logo.png" alt="item picture"></div>
			<div id="price">
				<h3>250 $ или 200 LV</h3>
			</div>
			<div class="description_h3"><h3>Пакет услуг "Цитадель" - 6 месяцев	</h3> </div>
			<div class="wrap_btn">
				<button class='btn btn-info'>Купить за LV</button>
				<button class='btn btn-info'>Купить за $</button>
			</div>
		</div>
		<div class="item">
			<div class="wrap_img"><img src="views/app/img/logo.png" alt="item picture"></div>
			<div id="price">
				<h3>20 $ или 200 LV</h3>
			</div>
			<div class="description_h3"><h3>Годовой пакет услуг "Классика"</h3> </div>
			<div class="wrap_btn">
				<button class='btn btn-info'>Купить за LV</button>
				<button class='btn btn-info'>Купить за $</button>
			</div>
		</div>
		<div class="item">
			<div class="wrap_img"><img src="views/app/img/logo.png" alt="item picture"></div>
			<div id="price">
				<h3>100 $ или 70 LV</h3>
			</div>
			<div class="description_h3"><h3>Пакет услуг "Классика" - 6 месяцев</h3> </div>
			<div class="wrap_btn">
				<button class='btn btn-info'>Купить за LV</button>
				<button class='btn btn-info'>Купить за $</button>
			</div>
		</div>
		<div class="item">
			<div class="wrap_img"><img src="views/app/img/logo.png" alt="item picture"></div>
			<div id="price">
				<h3>300 $ или 250 LV</h3>
			</div>
			<div class="description_h3"><h3>Судебный модуль </h3> </div>
			<div class="wrap_btn">
				<button class='btn btn-info'>Купить за LV</button>
				<button class='btn btn-info'>Купить за $</button>
			</div>
		</div>
		<div class="item">
			<div class="wrap_img"><img src="views/app/img/logo.png" alt="item picture"></div>
			<div id="price">
				<h3>200 $ или 170 LV</h3>
			</div>
			<div class="description_h3"><h3>Международный модуль</h3> </div>
			<div class="wrap_btn">
				<button class='btn btn-info'>Купить за LV</button>
				<button class='btn btn-info'>Купить за $</button>
			</div>
		</div>
		<div class="item">
			<div class="wrap_img"><img src="views/app/img/logo.png" alt="item picture"></div>
			<div id="price">
				<h3>500 $ или 430 LV</h3>
			</div>
			<div class="description_h3"><h3>Представительство в местных судах - 1 инстанция</h3> </div>
			<div class="wrap_btn">
				<button class='btn btn-info'>Купить за LV</button>
				<button class='btn btn-info'>Купить за $</button>
			</div>
		</div>
		<div class="item">
			<div class="wrap_img"><img src="views/app/img/logo.png" alt="item picture"></div>
			<div id="price">
				<h3>2000 $ или 1800 LV</h3>
			</div>
			<div class="description_h3"><h3>Представительство в международных судах  </h3> </div>
			<div class="wrap_btn">
				<button class='btn btn-info'>Купить за LV</button>
				<button class='btn btn-info'>Купить за $</button>
			</div>
		</div>
		<div class="item">
			<div class="wrap_img"><img src="views/app/img/logo.png" alt="item picture"></div>
			<div id="price">
				<h3>1000 $ или 800 LV</h3>
			</div>
			<div class="description_h3"><h3>Представительство в местных судах - все  инстанции </h3> </div>
			<div class="wrap_btn">
				<button class='btn btn-info'>Купить за LV</button>
				<button class='btn btn-info'>Купить за $</button>
			</div>
		</div>
		<div class="item">
			<div class="wrap_img"><img src="views/app/img/logo.png" alt="item picture"></div>
			<div id="price">
				<h3>10 $ или 8 LV</h3>
			</div>
			<div class="description_h3"><h3>Простая консультация</h3> </div>
			<div class="wrap_btn">
				<button class='btn btn-info'>Купить за LV</button>
				<button class='btn btn-info'>Купить за $</button>
			</div>
		</div>
		<div class="item">
			<div class="wrap_img"><img src="views/app/img/logo.png" alt="item picture"></div>
			<div id="price">
				<h3>20 $ или 15 LV</h3>
			</div>
			<div class="description_h3"><h3>Сложная консультация </h3> </div>
			<div class="wrap_btn">
				<button class='btn btn-info'>Купить за LV</button>
				<button class='btn btn-info'>Купить за $</button>
			</div>
		</div>
			<div class="item">
			<div class="wrap_img"><img src="views/app/img/logo.png" alt="item picture"></div>
			<div id="price">
				<h3>2 $ или 1 LV</h3>
			</div>
			<div class="description_h3"><h3>Мобильная простая консультация </h3> </div>
			<div class="wrap_btn">
				<button class='btn btn-info'>Купить за LV</button>
				<button class='btn btn-info'>Купить за $</button>
			</div>
		</div>
			<div class="item">
			<div class="wrap_img"><img src="views/app/img/logo.png" alt="item picture"></div>
			<div id="price">
				<h3>5 $ или 3 LV</h3>
			</div>
			<div class="description_h3"><h3>Мобильная сложная консультация </h3> </div>
			<div class="wrap_btn">
				<button class='btn btn-info'>Купить за LV</button>
				<button class='btn btn-info'>Купить за $</button>
			</div>
		</div>
			<div class="item">
			<div class="wrap_img"><img src="views/app/img/logo.png" alt="item picture"></div>
			<div id="price">
				<h3>30 $ или 25 LV</h3>
			</div>
			<div class="description_h3"><h3>Написание простых юридических документов </h3> </div>
			<div class="wrap_btn">
				<button class='btn btn-info'>Купить за LV</button>
				<button class='btn btn-info'>Купить за $</button>
			</div>
		</div>
			<div class="item">
			<div class="wrap_img"><img src="views/app/img/logo.png" alt="item picture"></div>
			<div id="price">
				<h3>50 $ или 40 LV</h3>
			</div>
			<div class="description_h3"><h3>Написание сложных юридических документов </h3> </div>
			<div class="wrap_btn">
				<button class='btn btn-info'>Купить за LV</button>
				<button class='btn btn-info'>Купить за $</button>
			</div>
		</div>
			<div class="item">
			<div class="wrap_img"><img src="views/app/img/logo.png" alt="item picture"></div>
			<div id="price">
				<h3>1 $ или 1 LV</h3>
			</div>
			<div class="description_h3"><h3>Внутренняя расчетная  бонусная единица Law Victory (LV ) </h3> </div>
			<div class="wrap_btn">
				<button class='btn btn-info'>Купить за LV</button>
				<button class='btn btn-info'>Купить за $</button>
			</div>
		</div>
	</div>
</div>




 <div id="modal_form_sign_in">			
			<span id="modal_close"><img src="views/app/img/cancel.png" alt=""></span> <!-- Кнoпкa зaкрыть --> 
			<div class="h_form_sign_in">
				<form action="" name="form_sign_in">								
					<input type="text" name="name" id="name" placeholder="Ваше имя" data-name="Ваше им'я">	
							<br>

					<input type="text" name="phone" id="phone" placeholder="+38 (ххх) ххх-хх-хх" data-name="Ваш телефон">			
					<br>
					<input type="text" name="email" id="email" placeholder="Ваша почта" data-name="Ваша почта">	
							<br>	
					<button class="button_h_sale">
						<h5>Менеджер свяжется с вами</h5>
					</button>
				</form>
			</div>
	</div>
	<div id="overlay"></div>